App_v2/jieshengshequ-app/node_modules/
rope-manager-backend/target/
rope-manager-backend/target2/
APP_HouDuan/target/debug/.fingerprint/
APP_HouDuan/target/debug/build/
APP_HouDuan/target/debug/
文档/AI学习规则文档/
